
{% if false %}
<div class="wrapper__planet planet-{{ planet.id }}__animation wrapper__{{ planet.id }}">
    <div class="planets__{{ planet.id }} planets__global">

        {% for moon in planet.moons %}

            <div class="wrapper__moon-{{ moon.id }} moon-{{ moon.id }}__animation">
                <div class="moon-{{ moon.id }}"></div>
            </div>

        {% endfor %}

    </div>
</div>
{% endif %}

<div class="wrapper-{{ planet.id}}">
    <div class="planet-{{ planet.id}} planet_orbit--wrapper planet_round planets__{{ planet.id }}">

        {% for moon in planet.moons %}

            <div class="wrapper__moon--{{ moon.id }}">
                <div class="moon-{{ moon.id }}"></div>
            </div>

        {% endfor %}

    </div>
</div>


<style lang="sass">
    .wrapper-{{ planet.id }} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: {{ planet | getVmin }}vmin;
        width: {{ planet | getVmin }}vmin;
        --angleStart: {{ planet | getStartAngle }}deg;
        --angleEnd: {{ planet | getEndAngle }}deg;
        animation: orbit {{ planet | getOrbitalTime }}s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .planet-{{ planet.id }} {
        background: {{ planet.color }};
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: {{ planet.color }};
        height: {{ planet | getCorpVmin }}px;
        width: {{ planet | getCorpVmin }}px;
        border-radius: 50%;
    }

    {% for moon in planet.moons %}
        .moon-{{ moon.id }} {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 1px;
            background: {{ moon.color }};
            border-radius: 50%;
        }

        .wrapper__moon--{{ moon.id }} {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: {{ moon | getVmin }}vmin;
            width: {{ moon | getVmin }}vmin;
            --angleStart: {{ moon | getStartAngle }}deg;
            --angleEnd: {{ moon | getEndAngle }}deg;
            animation: orbit {{ moon | getOrbitalTime }}s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @media screen and (max-width: 560px) {
            .wrapper__moon--{{ moon.id }} {
                height: calc({{ moon | getVmin }}vmin * 1.75);
                width: calc({{ moon | getVmin }}vmin * 1.75);;
            }
        }

    {% endfor %}

</style>