<div class="wrapper__planet wrapper__earth earth__animation">
    <div class="planets__earth planets__global">
    </div>
</div>

<style lang="sass">
    .earth__animation {
        --angleStart: 0deg;
        --angleEnd: 360deg;
        animation: orbit 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
</style>