<div class="wrapper__planet wrapper__jupiter jupiter__animation">
    <div class="planets__jupiter planets__global">
    </div>
</div>


<style lang="sass">
    .jupiter__animation {
        --angleStart: 0deg;
        --angleEnd: 360deg;
        animation: orbit 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
</style>