<div class="wrapper__planet wrapper__pluto pluto__animation">
    <div class="planets__pluto planets__global">
    </div>
</div>

<style lang="sass">
    .pluto__animation {
        --angleStart: 0deg;
        --angleEnd: 360deg;
        animation: orbit 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
</style>
