<div class="wrapper__planet wrapper__venus venus__animation">
    <div class="planets__venus planets__global">
    </div>
</div>


<style lang="sass">
    .venus__animation {
        --angleStart: 0deg;
        --angleEnd: 360deg;
        animation: orbit 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
</style>