{% extends 'base.html.twig' %}

{% block title %}Solar Orbits!{% endblock %}


{% block nav %}
    {% include "shared/login_nav.html.twig" %}
    {% include "shared/disclaimer-toggle.html.twig" %}
{% endblock %}

{% block body %}

    <div class="wrapper__system">


        <div class="wrapper__system--inner scale__xl">
            <div class="wrapper__star">

                {% if star %}
                    <div class="star__sun">

{#                        {% include "pages/planets/mercury.html.twig" %}
                        {% include "pages/planets/venus.html.twig" %}
                        {% include "pages/planets/earth.html.twig" %}
                        {% include "pages/planets/mars.html.twig" %}
                        {% include "pages/planets/jupiter.html.twig" %}
                        {% include "pages/planets/saturn.html.twig" %}
                        {% include "pages/planets/neptune.html.twig" %}
                        {% include "pages/planets/uranus.html.twig" %}
                        {% include "pages/planets/pluto.html.twig" %}#}

                        {% for planet in planets %}
                            {% include "pages/planets/dynamic_planet.html.twig" with { 'planet': planet } %}
                        {% endfor %}



                    </div>
                {% endif %}

            </div>
        </div>


    </div>

{% endblock %}
