$background-color: #333333;
$border-light-color: rgba(84, 134, 135, .5);
$font-color-light: #f0f1f2;
$color-blue: #0ea5e9;
$color-gray: #bababa;
$color-transparent-dark: rgba(0, 0, 0, .8);
$color-red: indianred;