<div class="modal__disclaimer display__flex justify-content__center">
    <div class="align-self__center modal__content p-1 border-rounded-sm shadow__light--sm">

        <div class="modal__body">
            <p>
            <h2><b>Welcome to Solar Symfony</b>!&nbsp;&nbsp;<small class="font-size__xxs"><i>[v{{ app_version }}]</i></small></h2>
            </p>

            <p>
                <b>I usually don't <i><u>flex</u></i>, but when I do... </b><br>
                it's on Symfony 4+ !
            </p>

            <p>
                This project is using <i>Symfony v5.3</i> assisted by <i>EasyAdmin v3.5</i>.  <br>
                On it's design you can find some <i>frontend</i> concepts for <u><i>Bem & Atomic design</i></u>. <br>
                On the <i>backend</i>, you will find plain <i>Symfony</i> implementation through <u><i>Servicing & Custom Twig filtering</i></u>.
            </p>

            <p>
                Through the <i>backend</i> you are able to use this <i>engine</i> to manipulate the orbits of several celestial corps, as well as creating new ones specifying their unique parameters.
                <br>
                The orbits populate a <i>2D plan</i> and void any collisions.
            </p>

            <p>
                <b>Have Fun role-playing as the <i>Master of the Universe</i>!!</b>
            </p>
        </div>

        <div class="modal__footer">

            <div class="modal__footer--link-wrapper">
                <a href="https://gitlab.com/dlgomes/solar-system-orbits" target="_blank">
                    <img src="{{ asset('build/images/gitlab-badge.svg') }}" alt="GitLab Icon">
                </a>
            </div>

            <div class="modal__dismiss-wrapper">
                <button onclick="window.Modal.dismissModal()" class="font-color__light">OK</button>
            </div>

        </div>

    </div>
</div>


<script type="text/javascript">
</script>