{% extends 'base.html.twig' %}

{% block title %}Solar Orbits | Login{% endblock %}

{% block body %}

    <div class="wrapper__system display__flex f__wrap justify-content__center">



        <div class="align-self__center w-50%:full--md">
            <div class="margin__bottom--4 text-align__center">
                <h4><i>login data:</i></h4>
                <b>user</b>: <i>demo</i> <br>
                <b>pass</b>: <i>demo</i>
            </div>



                <form action="{{ path('login') }}" method="post" style="position: relative">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <div class="w-100%">
                        <label for="username">Username:</label>
                        <input type="text"
                               class="form__input w-100%"
                               id="username"
                               name="_username"
                               value="{{ last_username }}"
                               placeholder="Enter your Username" required/>
                    </div>

                    <div class="margin__top--1 w-100%">
                        <label for="password">Password:</label>
                        <input type="password"
                               class="form__input"
                               id="password"
                               name="_password"
                               placeholder="Enter your password" required/>
                    </div>

                    <div class="margin__top--2">
                        <button type="submit" class="button">login</button>
                        <a href="{{ path('root') }}" class="button__secondary link__regular">go back</a>
                    </div>

                    {% if error %}
                        <div class="wrapper__error font-color__error">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </form>


        </div>

    </div>

{% endblock %}