.container__ {

  &main {
    height: 95vh;
    width: 95vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &login {
    @extend .p-lg;
    @extend .background__semi-light;
    border-top-right-radius: 4px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
  }

  &disclaimer {
    @extend .p-lg;
    @extend .background__semi-light;
    border-top-left-radius: 4px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
  }

  &footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}