footer {
  @extend .container__footer;
  @extend .px-lg, .py-sm;
  justify-content: space-around;
  height: 2vh;
  display: flex;

  .footer__ {
    &columns {
      align-self: center;
      font-weight: 100;
      font-size: 80%;
      color: darken($font-color-light, 35%);
      a { color: darken($font-color-light, 35%) !important; }
    }

  }
}

@media screen and (max-width: 576px){
  footer {
    font-size: 65%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;
  }
}