.modal__ {

  &disclaimer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    background: $color-transparent-dark;
    transition: all 250ms ease-in-out;
  }

  &content {
    color: lighten($color-blue, 45%);
    background: darken($color-blue, 25%);
    border: 2px solid lighten($color-blue, 15%);
    padding-left: 5em;
    padding-right: 5em;
    max-width: 75vw;
    padding-top: 3em;
  }

  &footer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    flex-wrap: wrap;

    &--link-wrapper {
      display: block;
      height: 65px;
      align-self: center;

      img {
        height: 100%;
      }
    }
  }

  &dismiss-wrapper {
    flex-basis: 100%;
    margin-top: 1em;
    text-align: center;
    padding-top: 1em;

    button {
      background: darken($color-blue, 20%);
      border: 1px solid darken($color-blue, 32%);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      padding: 10px 20px;

      &:hover {
        background: darken($color-blue, 15%);
        border-color: darken($color-blue, 28%);
      }
    }
  }
}

.modal__disclaimer.active {
  display: flex;
}

@media screen and (max-width: 586px) {
  .modal__ {

    &content {
      padding-top: 0;
      padding-left: 1em;
      padding-right: 1em;
      margin: 15px 2px;
      max-width: unset;

      h2 { font-size: 1.4rem; }
    }

    &footer {
      padding-bottom: 0;
    }
  }
}


