

.wrapper__ {

  &system {
    @extend .border-light;
    @extend .font-color__light;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: relative;
  }

  &system--inner {
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
  }

  &star {
    height: 2vmin;
    width: 2vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &error {
    position: absolute;
    top: 70%;
    lefT: 0;
    width: 100%;
  }
}