

.display__ {

  &flex { display: flex; }
  &block { display: block; }
  &inline { display: inline; }
}

.f__ {
  &wrap { flex-wrap: wrap; }
}

.f-basis-- {
  &50\% { flex-basis: 50%; }
  &100\% { flex-basis: 100%; }
}