.gradient- {

  &dark {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(21,21,22,1) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(21,21,22,1) 49%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(21,21,22,1) 49%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

  &sun {
    background: rgb(245,194,143);
    background: -moz-radial-gradient(circle, rgba(245,194,143,1) 0%, rgba(227,117,6,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(245,194,143,1) 0%, rgba(227,117,6,1) 100%);
    background: radial-gradient(circle, rgba(245,194,143,1) 0%, rgba(227,117,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5c28f",endColorstr="#e37506",GradientType=1);
  }
}