

.form__ {

  &input {
    @extend .p-lg;
    @extend .border-rounded-0;
    @extend .border-solid;
    @extend .border-light;
    @extend .background__semi-light;
    @extend .font-color__light;
    width: 100%;

    &:focus { outline: 0; }
  }

}