.p- {
  &1 { padding: 1em; }
  &2 { padding: 2em; }
  &3 { padding: 3em; }
  &4 { padding: 4em; }
  &5 { padding: 5em; }

  &lg { padding: 10px; }
  &sm { padding: 5px; }
}

.px- {
  &sm {
    padding-left: 5px;
    padding-right: 5px;
  }

  &lg {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.py- {

  &xs {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &sm {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &lg {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}