.shadow__ {
  &light-- {

    &sm {
      -webkit-box-shadow: 0 0 38px 6px rgba(255,255,255,0.3);
      -moz-box-shadow: 0 0 38px 6px rgba(255,255,255,0.3);
      box-shadow: 0 0 38px 6px rgba(255,255,255,0.3);
    }
  }
}