

.w- {

  &100\% { width: 100%; }
  &75\% { width: 75%; }
  &50\% {
    width: 50%;

    &\:full-- {
      &md {
        @media screen and (max-width: 576px) {
          width: 100%!important;
        }
      }
    }
  }

}