{% extends "@!EasyAdmin/crud/index.html.twig" %}

{% block table_head %}
    <tr>

        {% if has_batch_actions %}
        <th style="padding-left: 10px;">
            &nbsp;
        </th>
        {% endif %}

        {% for field in entities|first.fields ?? [] %}
            <th class="p-1">
                {{ field.property | humanize }}
            </th>
        {% endfor %}

        {% if ea.crud.showEntityActionsAsDropdown %}
        <th  dir="{{ ea.i18n.textDirection }}" style="padding-right: 16px;" class="text-right">
            &nbsp;
        </th>
        {% endif %}
    </tr>

    <tr>
        <th style="box-shadow: unset;">&nbsp;</th>
    </tr>
{% endblock %}