<div class="container__disclaimer" onclick="javascript:openDisclaimer.call(this)">
    <a href="javascript:void(0)" class="link__regular">read disclaimer</a>
</div>

<script type="text/javascript">
    function openDisclaimer() {
        $.removeCookie("modal-done");
        const $modal = $('.modal__disclaimer');
        $modal.addClass("active");
    }
</script>