{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <div class="container__login">
        <a href="{{ path('backend') }}" class="link__regular">backend</a>
    </div>
{% else %}
    <div class="container__login">
        <a href="{{ path('login') }}" class="link__regular">backend</a>
    </div>
{% endif %}
